:root {
    --gray: rgb(231,231,231);
    --white: rgb(255,255,255);
    --nav-blue: rgb(71,82,94);
    --h-blue: rgb(74,85,97);
    --p-blue: rgb(130,145,166);
    --beige: rgb(228,219,205);
}

body {
    background-color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--h-blue);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: var(--gray);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1{
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    margin-top: 36px;
    font-size: 32px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
}

header nav a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: var(--nav-blue);
    font-size: 22px;
    font-weight: bold;
}

.spacer {
    width: 100%;
    height: 180px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.text {
    margin: 50px;
}
.text h2 {
    font-weight: bold;
    font-size: 28px;
}

footer {
    background-color: var(--gray);
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

footer .email {
    text-align: center;
}

footer .documents {
    text-align: right;
}