:root {
    --gray: rgb(231,231,231);
    --white: rgb(255,255,255);
    --nav-blue: rgb(71,82,94);
    --h-blue: rgb(74,85,97);
    --p-blue: rgb(135,149,169);
    --beige: rgb(228,219,205);
}

body {
    background-color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--h-blue);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: var(--gray);
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

header h1{
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    margin-top: 36px;
    font-size: 32px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
}

header nav a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: var(--nav-blue);
    font-size: 22px;
    font-weight: bold;
}

.spacer {
    width: 100%;
    height: 200px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px;
}

.main .text {
    width: 400px;
}

.main .text p{
    color: var(--p-blue);
    font-size: 20px;
}

.text h2 {
    font-weight: bold;
    font-size: 28px;
}


.main .gallery img {
    width: 340px;
}

footer {
    background-color: var(--gray);
    padding-top: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 20px;
}

footer .email {
    text-align: center;
    font-weight: bold;
}

footer .documents {
    text-align: right;
}